<div style="border: 2px solid green; height: 740px; width: 270px;">
    <!-- вернуть все карточки -->
    <div style="width: 270px; height: 40px; background-color: rgb(31, 36, 41); border: 3px solid #707070; border-radius: 10px;">
        <h4 style="text-align: center;"><a href="{% url 'home-page' %}" style="color: white; text-decoration: none;">ALL PRODUCTS</a></h4>
    </div>

    <div style="border: 2px solid red; width: 270px; margin-top: 200px;">
        <!-- категории -->
        {% for category_card in cats %}
        <div style="width: 270px; height: 40px; background-color: rgb(31, 36, 41); border: 3px solid #707070; border-radius: 10px;">
            <h4 style="color: white; text-align: center;"><a href="{{category_card.get_absolute_url}}" style="color: white; text-decoration: none;">{{category_card.Category_name}}</a></h4>
        </div>
        {% endfor %}
    </div>
    
</div>
