{% extends "base.html" %}


{% block main %}
<div class="big-block-1">
    <h1 class="big-text-1" >Wellcome to our site</h1>
    <h5 class="small-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.
         Deserunt totam dolorem quo vitae sequi.
         Alias iste odio nemo quos temporibus <br><br><br>  
         Ad a tenetur eos libero fuga, pariatur id necessitatibus vel!</h3>
</div>
{% if not request.user.is_authenticated %}
<div class="big-block-2">
    <h1 class="big-text-2">register soon !</h1>
    <button class="button">
        <a class="button-text" href="{% url 'login-page' %}">Login</a>
    </button>
</div>
{% else %}
<div class="big-block-2">
    <h2 class="big-text-2" >Cool ! You have registered. <br> Now you can use our site</h2>
    <button class="button">
        <a class="button-text" href="{% url 'home-page' %}">Go to home page</a>
    </button>
</div>
{% endif %}
{% endblock main %}
