{% extends "base.html" %}

{% block main %}
<div class="big-block-login">
    <form action="" method="post">
        {% csrf_token %}
    

<!-- имя пользователя -->

<div class="login-username-border">
    <h5 class="login-username">Username :</h5>

    <label style="margin-left: 50px;" for="{{ form.username.id_for_label }}">{{form.username}}</label>
</div>

<!-- пароль -->

<div class="login-password-border">
    <h5 class="login-password">Password :</h5>

    <label style="margin-left: 50px;" for="{{ form.password.id_for_label }}">{{form.password}}</label>
</div>



    <!-- кнопка -->
 <button class="login-button" type="submit">
      Already
 </button>
    </form>
    
    <!-- разьяснения и т.д. -->
        <a class="login-link" href="{% url 'register-page' %}">Dont have an account ? | create it !</a>

    
        
</div>
{% endblock main %}
