{% extends "base.html" %}
{% block main %}


<form action="" method="post">
    {% csrf_token %}

    <div style="border: solid 6px rgb(153, 153, 153); border-radius: 20px; width: 1100px; height: 650px;
    background-color: rgb(31, 36, 41); margin-top: 50px; margin-left: 300px;"> 

            <!-- первое имя пользователя -->
            <div style="position: fixed; border: 3px solid #fa429e; width: 480px; height: 50px; border-radius: 20px; margin-top: 50px; margin-left: 30px;">
                <h5 style="margin-top: 8px; margin-left: 50px; color: white; display: inline-block;">Name :</h5>
        
                <label style="margin-left: 108px;" for="{{ form.first_name.id_for_label }}">{{form.first_name}}</label>
                <div class="form-error">{{ form.errors }}</div>
            </div>

            <!-- второе имя пользователя -->
            <div style="position: fixed; border: 3px solid #0862b1; width: 480px; height: 50px; border-radius: 20px; margin-top: 50px; margin-left: 580px;">
                <h5 style="margin-top: 8px; margin-left: 50px; color: white; display: inline-block;">Surname :</h5>
        
                <label style="margin-left: 86px;" for="{{ form.last_name.id_for_label }}">{{form.last_name}}</label>
                <div class="form-error">{{ form.errors }}</div>
            </div>
        
        
            <!-- email  -->
            <div style="position: fixed; border: 3px solid #0862b1; width: 480px; height: 50px; border-radius: 20px; margin-top: 180px; margin-left: 30px;">
                <h5 style="margin-top: 8px; margin-left: 50px; color: white; display: inline-block;">Email :</h5>
        
                <label style="margin-left: 112px;" for="{{ form.email.id_for_label }}">{{form.email}}</label>
                <div class="form-error">{{ form.errors }}</div>
            </div>

             
            <!-- имя пользователя (user_name) -->
            <div style="position: fixed; border: 3px solid #fa429e; width: 480px; height: 50px; border-radius: 20px; margin-top: 180px; margin-left: 580px;">
                <h5 style="margin-top: 8px; margin-left: 50px; color: white; display: inline-block;">User-name :</h5>
        
                <label style="margin-left: 70px;" for="{{ form.username.id_for_label }}">{{form.username}}</label>
                <div class="form-error">{{ form.errors }}</div>
            </div>


             
            <!-- пароль  -->
    
            <div style="position: fixed; border: 3px solid #fa429e; width: 480px; height: 50px; border-radius: 20px; margin-top: 310px; margin-left: 30px;">
                <h5 style="margin-top: 8px; margin-left: 50px; color: white; display: inline-block;">Password N1 :</h5>
        
                <label style="margin-left: 50px;" for="{{ form.password1.id_for_label }}">{{form.password1}}</label>
                <div class="form-error">{{ form.errors }}</div>
            </div>



            <!-- повторный пароль -->
            <div style="position: fixed; border: 3px solid #0862b1; width: 480px; height: 50px; border-radius: 20px; margin-top: 310px; margin-left: 580px;">
                <h5 style="margin-top: 8px; margin-left: 50px; color: white; display: inline-block;">Password N2 :</h5>
        
                <label style="margin-left: 50px;" for="{{ form.password2.id_for_label }}">{{form.password2}}</label>
                <div class="form-error">{{ form.errors }}</div>
            </div>


        <!-- кнопка -->
        

            <button style="border: solid 4px #a9d1f3; margin-top: 460px; margin-left: 310px; height: 40px; 
            width: 430px; font-size: 1.3rem; border-radius: 20px; color: #a9d1f3; background-color: #ff1c8e;" type="submit">
                Already
            </button>
            
            <!-- разьяснения и т.д. -->
            <div style="width: 740px; margin-top: 40px; margin-left: 370px;">
                <a style="color: white;" href="{% url 'login-page' %}">Do you already have an account ? | Login !</a>
            </div>
        
    </div>

</form>

{% endblock main %}