{% extends "base.html" %}
{% block main %}


<form action="" method="post">
    {% csrf_token %}

    <div class="registerbig-block"> 

            <!-- первое имя пользователя -->
            <div class="register-firstname-border">
                <h5 class="register-border-text">Name :</h5>
        
                <label for="{{ form.first_name.id_for_label }}">{{form.first_name}}</label>
                <div class="form-error">{{ form.errors }}</div>
            </div>

            <!-- второе имя пользователя -->    
            <div class="register-lastname-border">
                <h5 class="register-border-text">Surname :</h5>
        
                <label for="{{ form.last_name.id_for_label }}">{{form.last_name}}</label>
                <div class="form-error">{{ form.errors }}</div>
            </div>
        
        
            <!-- email  -->
            <div class="register-email-border">
                <h5 class="register-border-text">Email :</h5>
        
                <label for="{{ form.email.id_for_label }}">{{form.email}}</label>
                <div class="form-error">{{ form.errors }}</div>
            </div>

             
            <!-- имя пользователя (user_name) -->
            <div class="register-username-border">
                <h5 class="register-border-text">User-name :</h5>
        
                <label for="{{ form.username.id_for_label }}">{{form.username}}</label>
                <div class="form-error">{{ form.errors }}</div>
            </div>


             
            <!-- пароль  -->
    
            <div class="register-password1-border">
                <h5 class="register-border-text">Password N1 :</h5>
        
                <label for="{{ form.password1.id_for_label }}">{{form.password1}}</label>
                <div class="form-error">{{ form.errors }}</div>
            </div>



            <!-- повторный пароль -->
            <div class="register-password2-border">
                <h5 class="register-border-text">Password N2 :</h5>
        
                <label for="{{ form.password2.id_for_label }}">{{form.password2}}</label>
                <div class="form-error">{{ form.errors }}</div>
            </div>


        <!-- кнопка -->
        

            <button class="reg-button" type="submit">
                Already
            </button>
            
            <!-- разьяснения и т.д. -->
                <a class="reg-link" href="{% url 'login-page' %}">Do you already have an account ? | Login !</a>
        
    </div>

</form>

{% endblock main %}